/*.schedules,
.add-train-panel {
  width: 1200px;
  margin: 0 auto;
}*/

.jumbotron {
  background: url('../images/nyc-station-dk-logo.jpeg') no-repeat center center;
  height: 200px;
  color: white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

@media screen and (min-width:1200px) {
  .the-content {
    width: 1100px;
    margin: 0 auto;
  }
}



.panel-default>.panel-heading {
  background-color: rgba(16,19,11,.8);
  color: white;
}
